body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Changed background color to black */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff; /* Changed text color to white */
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Enhanced box shadow */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
    display: none; /* Initially hidden */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: #fff;
        padding: 10px 0;
        text-align: center;
}

footer p {
    margin: 0; /* Remove default margin for the paragraph inside footer */
}